/*******************/
/* Recyclerie */
/*******************/
body{
    margin: 0;
}

/*******************/
/* a id="recyclerie" */
/*******************/
a#btn_recyclerie{
    background: #019dda;
    color: white;
}

/* ----------------------------- */
/* -------- Parallax ----------- */
/* ----------------------------- */
.recyclerie_parallax{
    margin-top: 85px;
    background-image: url('../image/recyclerie/recyclerie.png');

    /* Définir une hauteur spécifique */
    height: 58vh;

    /* Créer l'effet de défilement de parallaxe */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.recyclerie_parallax{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    flex-direction: column; 
}

.recyclerie_parallax h2{
    color:white;
    font-family: 'Segoe UI';
    font-size: 45px;
    text-shadow: 3px 3px 5px black;
    margin: 0;
}


/* ---------------------- */
/* ---- La recyclerie --- */
/* ---------------------- */
.recyclerie_intitule h1{
    margin: 10px 0 10px 30px;
}

.recyclerie_intitule hr{
    margin: 0 30px 0 30px;
}

.recyclerie{
    display: flex;
    text-align: center;
    justify-content: center;
    /* flex-direction: column; */
    flex-wrap: wrap;
    margin-bottom: 10px;
    
}
.recyclerie .photo{
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
}
.recyclerie .photo_null{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card, .card_null{
    display: flex;
    flex-direction: column;
    margin: 30px;
    box-shadow: 2px 2px 5px #454545;
}
.card_header{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    width: 310px;
    height: 230px;
    margin: auto;
}


.card_header>img{
    width: 130px;
    height: 130px;
    margin: 10px;

}
.card_footer{
    background-color:#019dda;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 310px;
    height: 50px;
}
.card_footer>p{
    flex-grow: 1;
    font-family: 'Segoe UI';
    font-size: 18px;
    color: #fff;
}
.card_quantite{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 30px;
    border-radius: 10px;
    margin: 0 20px 0 0;
}
.card:hover{
    transform: scale(1.05);
    background-color: #eee;
    cursor: pointer;
}


@media (max-width: 760px){

    .recyclerie_intitule h1{
        text-align: center;
        margin: 20px 10px 10px 10px;
        font-size: 25px;
    }
    .recyclerie_parallax h2{
        padding: 10px;
        font-size: 28px;
    }
    
}