/*******************/
/* Soutenez-nous */
/*******************/
body{
    margin: 0;
}

/*******************/
/* a id="soutien" */
/*******************/
a#btn_soutien{
    background: #019dda;
    color: white;
}

/* ----------------------------- */
/* -------- Parallax ----------- */
/* ----------------------------- */
.soutien_parallax{
    
    background-image: url("../image/banniere/Bannière03.png ");

    /* Définir une hauteur spécifique */
    height: 50vh;

    /* Créer l'effet de défilement de parallaxe */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.soutien_parallax{
    display: flex;  
}
.soutien_parallax img{
    margin: 100px 0;
    width: 250px;
    height: 220px;
}
.soutien_parallax h1{
    display: flex;
    text-align: center;
    color:white;
    font-family: 'Segoe UI';
    font-size: 40px;
    text-shadow: 3px 3px 5px black;
    margin: auto auto auto 1%;
    padding: 20px 20px; 
}

/* Soutenez-nous */
.soutien{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.soutien section{
    display: flex;
    text-align: center;
    flex-direction: column;
}
.soutien ul{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.soutien li{
    list-style-image: url('../image/icon/cdh08_32.ico');
    margin: 0 50px;
    padding:0;
}
.soutien_button{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.soutien_button a, .formulaire a{
    background-color: #454545;
    text-decoration: none;
    padding: 10px;
    color: #eee;    
    
}
.soutien_button a:hover, .formulaire a:hover{
    background-color: #019dda;
    color: #fff;
}

.soutien_formulaire h1{
    margin: 10px 0 10px 30px;
}

.soutien_formulaire hr{
    margin: 0 30px;
}
/* --------------------------------- */
/* --------- les formulaire -------- */
/* --------------------------------- */
.soutien_formulaire h1{
    margin: 10px 0 10px 30px;
}

.soutien_formulaire hr{
    margin: 0 30px 0 30px;
}
.formulaire{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 10px;
    flex-wrap: wrap;
    
}
.formulaire .photo{
    display: flex;
    justify-content: center;
    
}
.formulaire .card{
    box-shadow: 2px 2px 5px #454545;
    max-width:520px;
    margin: 30px;
    min-height: 520px;
    
}
.formulaire figure{
    margin: 0;
}

.card figcaption{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #454545;
    color: #fff;
    padding: 10px;
    text-align: center;
    min-height: 40px;
}


.card div{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0;
    min-height: 350px;
}
.formulaire h3, h2{
    margin: 10px 20px;

}
.formulaire button.footer{
    height: 40px;
    margin: 10px;
    padding: 10px;
    
}
.formulaire ul{
    padding-left: 0;
    margin: 0;
}
.formulaire li{
    list-style: none;
    margin: 0 10px;
}
.formulaire p{
    margin: 0 20px;

}
section.footer{
    display: flex;
    justify-content: center;
    margin: 0 20px 20px 20px;
}







@media (max-width: 760px){
    .soutien_parallax{
        display: flex; 
        align-items: center;
        flex-direction: column;
        
    }
    .soutien_parallax img{
        margin: 110px auto 0 auto;
    }
    .soutien_parallax h1{
        margin: 0 auto auto auto;
    }
    .formulaire .card{
        box-shadow: 2px 2px 5px #454545;
        min-height: 550px;
        
    }
    .formulaire li{
        font-size: 14px;
        margin: 0 10px;
    }
    .soutien_formulaire h1{
        text-align: center;
        margin: 20px 10px 10px 10px;
        font-size: 25px;
    }

    .soutien_parallax img{
        width: 120px;
        height: 120px;
    }
    .soutien_parallax h1{
        font-size: 30px;
        
    }
    section.footer{
        display: flex;
        justify-content: center;
        margin: 10px;
    }
}