/*******************/
/* Le Bureau */
/*******************/
body{
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
.error{
    background-color: lightcoral;
    margin:10px 0;
}

#trt_bureau_form{
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 40%;
    padding: 20px;
    margin: 20px auto;
    box-shadow: 2px 2px 5px #454545;
}
#trt_bureau_form>h1{
    margin-top: 0;
}

.trt_bureau_form{
    width: 100%;
}


.trt_bureau_form fieldset{
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    margin: 5px 0;
    padding: 8px;
}
.trt_bureau_form #photo{
    padding: 5px;
    border: 1px solid #454545;
}
.trt_bureau_form fieldset.photo{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    padding: 15px;
}
.photo>img{
    width: 130px;
    height: 130px;
}

.trt_bureau_form label{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 150px;
    margin: 0 10px;
}

.trt_bureau_form input, select{
    width: 80%;
    padding: 5px;
    border: 1px solid #aaa;
}


.trt_bureau_form fieldset.buttonRadio{
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    margin: 5px 0;
    padding: 8px;
}
.trt_bureau_form fieldset.buttonRadio>label{
    width: 135px;
}
.trt_bureau_form fieldset.buttonRadio>div{
    display: flex;
    width: 50px;
    height: 15px;
    margin: 0 20px;
}

.trt_bureau_form .button{
    display: flex;
    justify-content: right;
}

.trt_bureau_form button{
    width: 100px;
    padding: 5px;
}

#trt_bureau_form a>button{
    float: right;
    width: 100px;
    padding: 5px;
    margin-top: 5px;
}